<h4><%= __('way_to_come') %></h4>
<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%= map_path %>">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%= map_path %>"
                    data-ratio="1.83"
                />
            </a>
        </figure>
    </div>
</div>

<p>
    <b>
        <% if (groom) { %> <%= __('groom_wedding_date_time') %> <% } else { %>
        <%= __('bride_wedding_date_time') %> <% } %>
    </b>
</p>
<p>
    <b>
        <% if (groom) { %> <%= __('groom_wedding_hall') %> <% } else { %> <%=
        __('bride_wedding_hall') %> <% } %>
    </b>
</p>
<p>
    <a
        href="tel:<% if (groom) { %> <%= __('groom_tel_contact') %> <% } else { %> <%= __('bride_tel_contact') %> <% } %>"
        class="tel"
    >
        <% if (groom) { %> <%= __('groom_tel_contact') %> <% } else { %> <%=
        __('bride_tel_contact') %> <% } %>
    </a>
</p>
<p>
    <% if (groom) { %> <%= __('groom_wedding_hall_address') %> <% } else { %>
    <%= __('bride_wedding_hall_address') %> <% } %>
</p>
<p>
    <small>
        <% if (groom) { %> <%= __('groom_wedding_hall_address_notice') %> <% }
        else { %> <%= __('bride_wedding_hall_address_notice') %> <% } %>
    </small>
</p>

<ul>
    <li>
        <a href="<%= google_map_link %>" target="_blank"
            ><%= __('view_on_google_map') %></a
        >
    </li>
    <li>
        <a href="<%= map_link %>" target="_blank" download><%= __('download_map') %></a>
    </li>
</ul>
