<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_1_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_1_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_1_2_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_1_2_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_2_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_2_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_2_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_2_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_2_3_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_2_3_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_3_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_3_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_4_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_4_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_4_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_4_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_5_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_5_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_6_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_6_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_6_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_6_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_6_3_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_6_3_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_7_1_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_7_1_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_7_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_7_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_7_3_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_7_3_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_7_4_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_7_4_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_8_1_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_8_1_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_8_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_8_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_9_1_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_9_1_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_9_2_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_9_2_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_9_3_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_9_3_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_10_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_10_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_10_2_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_10_2_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_11_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_11_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_11_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_11_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_12_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_12_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_12_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_12_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_13_1_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_13_1_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_13_2_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_13_2_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_13_3_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_13_3_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_13_4_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_13_4_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_15_1_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_15_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_15_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_15_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
        <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_16_1_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_16_1_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_16_2_43.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_16_2_43.jpg"
                    data-ratio="1.49"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/together/row_16_3_34.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/together/row_16_3_34.jpg"
                    data-ratio="0.66"
                />
            </a>
        </figure>
    </div>
</div>
