<span class="guestbook"></span>
<h3><%= __('guestbook') %></h3>
<div class="wishes-container">
    <h5><%= __('let_leave_a_wish') %></h5>
    <div id="send-wish-idx">
        <form method="POST" action="wishes">
            <div class="wish-control col-2">
                <div class="content-left">
                    <input
                        type="text"
                        name="name"
                        id="username-wish-idx"
                        placeholder="Bí danh: *"
                        required
                    />
                </div>
                <div class="content-left">
                    <input
                        type="text"
                        name="email"
                        id="email-wish-idx"
                        placeholder="Email:"
                    />
                </div>
            </div>
            <div class="wish-control col-1">
                <div>
                    <textarea
                        type="text"
                        name="content"
                        id="content-wish-idx"
                        placeholder="Lời chúc: *"
                        required
                    ></textarea>
                </div>
            </div>
            <div class="wish-control col-1">
                <div>
                    <input id="send-wish-btn-idx" type="button" value="<%= __('send_wish') %>" />
                </div>
            </div>
        </form>
    </div>
    <h5><%= __('thanks_to_wishes') %></h5>
    <div id="view-wish-idx">
        <%- include('./parts/wishes.ejs') %>
    </div>
</div>
