<h3><%= __('young_bride') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/story/young_bride_1.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/story/young_bride_1.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="<%=cdn_url%>/photos/story/young_bride_2.jpg">
                <img
                    src="<%=cdn_url%>/static/placeholder.png"
                    data-src="<%=cdn_url%>/photos/story/young_bride_2.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('young_bride_description') %></p>
