<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=__('bride_groom_get_married')%></title>
        <link rel="stylesheet" href="https://anh-lieu-wedding.b-cdn.net/static/css/style.css" />
        <link rel="stylesheet" href="https://anh-lieu-wedding.b-cdn.net/static/css/photoswipe.css" />
        <link rel="icon" type="image/png" href="https://anh-lieu-wedding.b-cdn.net/static/wedding-festival.png" />
        <link rel="stylesheet" href="https://anh-lieu-wedding.b-cdn.net/static/css/background-audio.css" />
        <link rel="stylesheet" href="https://anh-lieu-wedding.b-cdn.net/static/css/wishes.css" />
        <link rel="stylesheet" href="https://anh-lieu-wedding.b-cdn.net/static/css/responsive.css" />
        <link rel="stylesheet" href="https://anh-lieu-wedding.b-cdn.net/static/css/come-in.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />

        <!-- Primary Meta Tags -->
        <meta
            name="title"
            content="<%=__('wedding_date')%>. <%=__('bride_groom_get_married')%>"
        />
        <meta name="description" content="<%=__('foreword')%>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%=http_host%>" />
        <meta
            property="og:title"
            content="<%=__('wedding_date')%>. <%=__('bride_groom_get_married')%>"
        />
        <meta property="og:description" content="<%=__('foreword')%>" />
        <meta property="og:image" content="https://anh-lieu-wedding.b-cdn.net/photos/meta/image.jpg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%=http_host%>" />
        <meta
            property="twitter:title"
            content="<%=__('wedding_date')%>. <%=__('bride_groom_get_married')%>"
        />
        <meta property="twitter:description" content="<%=__('foreword')%>" />
        <meta property="twitter:image" content="https://anh-lieu-wedding.b-cdn.net/photos/meta/image.jpg" />
    </head>

    <body>
        <%- include('./components/come-in.ejs') %>
        <div id="top"></div>
        <%- include('./components/background-audio.ejs') %>
        <section id="front"><%- include('./components/front.ejs') %></section>

        <section id="story-each">
            <div class="wrap clearfix">
                <div class="content groom">
                    <%- include('./components/child-groom.ejs') %>
                </div>

                <div class="content bride">
                    <%- include('./components/child-bride.ejs') %>
                </div>

                <div class="content groom">
                    <%- include('./components/young-groom.ejs') %>
                </div>

                <div class="content bride">
                    <%- include('./components/young-bride.ejs') %>
                </div>

                <div class="content groom">
                    <%- include('./components/teen-groom.ejs') %>
                </div>

                <div class="content bride">
                    <%- include('./components/teen-bride.ejs') %>
                </div>
            </div>

            <div class="wrap clearfix">
                <%- include('./components/agree-dating.ejs') %>
            </div>
        </section>

        <section id="playground-holder">
            <div id="playground">
                <div id="groom-thumb" class="thumb groom">
                    <span class="tf xsmall baby"></span>
                </div>

                <div id="bride-thumb" class="thumb bride">
                    <span class="tf xsmall baby"></span>
                </div>
            </div>
        </section>

        <section id="story-together">
            <%- include('./components/story-together.ejs') %>
        </section>

        <section id="black-to-pink">
            <div class="icon-tray">
                <span class="tf xsmall couple"></span>
            </div>
            <p><%= __('and') %></p>
            <p><%= __('wedding_date') %></p>
            <p>&nbsp;</p>
            <span class="wedding-festival"></span>
        </section>

        <div id="pink-background">
            <section id="wedding-photo">
                <%- include('./components/wedding-photo.ejs') %>
            </section>
        </div>

        <section id="wishes"><%- include('./components/wishes.ejs') %></section>

        <div id="pink-background">
            <section id="welcome">
                <%- include('./components/welcome.ejs') %>
            </section>

            <section id="location">
                <%- include('./components/location.ejs') %>
            </section>

            <section id="thanks-to">
                <%- include('./components/thanks-to.ejs') %>
            </section>
        </div>

        <a class="go-to go-to-top" href="#top">
            <img src="https://anh-lieu-wedding.b-cdn.net/static/top-icon.svg" />
        </a>

        <a class="share" href="#">
            <img src="https://anh-lieu-wedding.b-cdn.net/static/share-icon.svg" />
        </a>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/script.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/clipboard.min.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/photoswipe.umd.min.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/photoswipe-lightbox.umd.min.js"
        ></script>
        <script type="text/javascript">
            // lightbox
            var lightbox = new PhotoSwipeLightbox({
                gallery: ".photoset",
                children: "a",
                pswpModule: PhotoSwipe,
                loop: true,
                counter: true,
                zoom: true,
                escKey: true,
                wheelToZoom: true,
                allowPanToNext: true,
                closeOnVerticalDrag: true,
                arrowKeys: false,
            });
            lightbox.init();

            var weddingDatetime = "<%= wedding_datetime %>";
            var audioPath = "<%= audio_path %>";

            var shareTitle = "<%= __('share_title') %>";
            var shareText = "<%= __('share_text') %>";
            var shareURL = "<%= share_url %>";

            window.onload = function () {
                document
                    .getElementById("heart-loader-idx")
                    .classList.add("hidden");
                document
                    .getElementById("come-in-btn-idx")
                    .classList.remove("hidden");
                document.getElementById("loading-idx").classList.add("hidden");
            };

            document.body.style.overflow = "hidden";
            document.body.style.height = "100%";
        </script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/time-counter.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/background-audio.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="https://anh-lieu-wedding.b-cdn.net/static/js/wishes.js"
        ></script>
    </body>
</html>
