<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=__('bride_groom_get_married')%></title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/photoswipe.css" />
        <link rel="icon" type="image/png" href="/static/wedding-festival.png" />
        <link rel="stylesheet" href="/static/background-audio.css" />
        <link rel="stylesheet" href="/static/wishes.css" />
        <link rel="stylesheet" href="/static/responsive.css" />

        <!-- Primary Meta Tags -->
        <meta
            name="title"
            content="<%=__('wedding_date')%>. <%=__('bride_groom_get_married')%>"
        />
        <meta name="description" content="<%=__('foreword')%>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%=http_host%>" />
        <meta
            property="og:title"
            content="<%=__('wedding_date')%>. <%=__('bride_groom_get_married')%>"
        />
        <meta property="og:description" content="<%=__('foreword')%>" />
        <meta property="og:image" content="/photos/meta/image.jpg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%=http_host%>" />
        <meta
            property="twitter:title"
            content="<%=__('wedding_date')%>. <%=__('bride_groom_get_married')%>"
        />
        <meta property="twitter:description" content="<%=__('foreword')%>" />
        <meta property="twitter:image" content="/photos/meta/image.jpg" />
    </head>

    <body>
        <div id="top"></div>
        <%- include('./components/background-audio.ejs') %>
        <section id="front"><%- include('./components/front.ejs') %></section>

        <section id="story-each">
            <div class="wrap clearfix">
                <div class="content groom">
                    <%- include('./components/child-groom.ejs') %>
                </div>

                <div class="content bride">
                    <%- include('./components/child-bride.ejs') %>
                </div>

                <div class="content groom">
                    <%- include('./components/young-groom.ejs') %>
                </div>

                <div class="content bride">
                    <%- include('./components/young-bride.ejs') %>
                </div>

                <div class="content groom">
                    <%- include('./components/teen-groom.ejs') %>
                </div>

                <div class="content bride">
                    <%- include('./components/teen-bride.ejs') %>
                </div>
            </div>

            <div class="wrap clearfix">
                <%- include('./components/agree-dating.ejs') %>
            </div>
        </section>

        <section id="playground-holder">
            <div id="playground">
                <div id="groom-thumb" class="thumb groom">
                    <span class="tf xsmall baby"></span>
                </div>

                <div id="bride-thumb" class="thumb bride">
                    <span class="tf xsmall baby"></span>
                </div>
            </div>
        </section>

        <section id="story-together">
            <%- include('./components/story-together.ejs') %>
        </section>

        <section id="black-to-pink">
            <div class="icon-tray">
                <span class="tf xsmall couple"></span>
            </div>

            <p><%= __('and') %></p>
            <p><%= __('wedding_date') %></p>
            <p>&nbsp;</p>

            <span class="wedding-festival"></span>
        </section>

        <div id="pink-background">
            <section id="wedding-photo">
                <%- include('./components/wedding-photo.ejs') %>
            </section>

            <section id="welcome">
                <%- include('./components/welcome.ejs') %>
            </section>

            <section id="location">
                <%- include('./components/location.ejs') %>
            </section>

            <section id="thanks-to">
                <%- include('./components/thanks-to.ejs') %>
            </section>
        </div>

        <section id="wishes"><%- include('./components/wishes.ejs') %></section>

        <a class="go-to go-to-top" href="#top">
            <img src="/static/top-icon.svg" />
        </a>

        <a class="share" href="#">
            <img src="/static/share-icon.svg" />
        </a>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/script.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/clipboard.min.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/photoswipe.umd.min.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/photoswipe-lightbox.umd.min.js"
        ></script>
        <script type="text/javascript">
            // lightbox
            var lightbox = new PhotoSwipeLightbox({
                gallery: ".photoset",
                children: "a",
                pswpModule: PhotoSwipe,
                loop: true,
                counter: true,
                arrowPrev: true,
                arrowNext: true,
                zoom: true,
                escKey: true,
                wheelToZoom: true,
                allowPanToNext: true,
                closeOnVerticalDrag: true
            });
            lightbox.init();

            var weddingDatetime = "<%= wedding_datetime %>";
            var audioPath = "<%= audio_path %>";
        </script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/time-counter.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/background-audio.js"
        ></script>
        <script
            type="text/javascript"
            charset="UTF-8"
            src="/static/wishes.js"
        ></script>
    </body>
</html>
